/* REGOLE GENERALI --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container {
  background-color: #d6dbd9;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-page {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}

/* Scrollbar */
::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
background: #fff;
}
::-webkit-scrollbar-thumb {
background: #cccccc;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #8e8e8e;
}

/* Regole del box degli User ---------------------------- */
.box-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  /* Header User */
.header-user {
  height: 59px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.header-user .image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
  /* Barra Notifiche */
.notification {
  height: 89px;
  width: 100%;
  background-color: #9DE1FE;
}
  /* Barra di ricerca */
.search {
  height: 49px;
  width: 100%;
  background-color: #f8f8f8;
}
  /* Box degli utenti */
.box-user {
  overflow: auto;
}
.user {
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.user:hover {
  background-color: #f4f5f5;
}
.image {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}
.contact {
  width: 80%;
  border-bottom: solid 1px #e9ebeb;
  padding: 0 15px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact div {
  display: flex;
  align-items: baseline;
}
.name {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
}
.text {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
}
.time-user {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 20%;
  text-align: right;
}

/* Regole della barra delle Conversazioni ---------------- */
.box-right {
  width: 70%;
  height: 100%;
  border-left: solid 1px #4b4b4b;
  display: flex;
  flex-direction: column;
}
  /* Header barra delle Conversazioni */
.header-right {
  height: 59px;
  width: 100%;
  background-color: #eee;
}
  /* Box delle Conversazioni */
.chat {
  background-image: url("media/sfondo.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: auto;
}
  /* Barra per inviare messagi */
.bar-right {
  height: 62px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  /* Form */
.bar-right form input {
  width: 846px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid #fff;
  background-color: #fff;
  text-decoration: none;
}



/* REGOLE RESPONSIVE */
@media screen and (min-width: 1441px) {
  .banner {
    background-color: #009688;
    height: 127px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #main-page {
    z-index: 200;
    height: calc(100% - 38px);
    width: 1396px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
