/* REGOLE GENERALI --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container {
  background-color: #d6dbd9;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-page {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 200;
}

#template {
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
background: #fff;
}
::-webkit-scrollbar-thumb {
background: #cccccc;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #8e8e8e;
}

/* Regole del box degli User ---------------------------- */
.box-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  /* Header User */
.header-user {
  height: 59px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.header-user .image img {
  width: 40px;
  height: 40px;
}
.icon {
  width: 80%;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon i {
  font-size: 20px;
  color: #8e8e8e;
  padding-left: 30px;
}
  /* Barra Notifiche */
.notification {
  height: 89px;
  width: 100%;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note {
  width: 80%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.note p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 3px;
}
.notification div span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.notification div span a {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-top: 3px;
  text-decoration: none;
}
.notification div span i {
  color: #000;
  font-size: 11px;
  margin-left: 4px;
}
.notification div span a:hover{
  text-decoration: underline;
}
  /* Barra di ricerca */
.search {
  height: 49px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search form {
  background-color: #fff;
  width: 90%;
  height: 32px;
  border-radius: 21px;
  display: flex;
  align-items: center;
}
.search form i {
  margin-right: 15px;
  padding: 0 20px;
  font-size: 15px;
  color: #8e8e8e;
}
.search form input {
  width: 50%;
  border: none;
  color: #8e8e8e;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
}
  /* Box degli utenti */
.box-user {
  overflow: auto;
  height: calc(100% - 197px);
}
.user {
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.user:hover {
  background-color: #f4f5f5;
}
.image {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}
.contact {
  width: 80%;
  border-bottom: solid 1px #e9ebeb;
  padding: 0 15px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact div {
  display: flex;
  align-items: baseline;
}
.name {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
}
.text {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
}
.time-user {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 20%;
  text-align: right;
}

/* Regole della barra delle Conversazioni ---------------- */
.box-right {
  width: 70%;
  height: 100%;
  border-left: solid 1px #4b4b4b;
  display: flex;
  flex-direction: column;
}
  /* Header barra delle Conversazioni */
.header-right {
  height: 59px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.header-right .image {
  display: none;
}
.header-right .image.attiva {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.header-right .image img {
  width: 40px;
  height: 40px;
}
.header-right .image .name {
  font-size: 16px;
  padding-left: 20px;
}

  /* Box delle Conversazioni */
.chat {
  background-image: url("media/sfondo.jpg");
  width: 100%;
  height: calc(100% - 131px);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 100px 0 100px;
  overflow-y: auto;
}
.boxchat {
  display: none;
}
.active {
  display: flex;
  flex-direction: column;
}
.msguser {
  background-color: #dcf8c6;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
  padding: 6px 15px 8px 9px;
  margin: 10px 0;
  align-self: flex-end;
  position: relative;
  width: fit-content;
  max-width: 50%;
}
.msgrisp {
  background-color: #fff;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
  padding: 6px 15px 8px 9px;
  margin: 10px 0;
  align-self: flex-start;
  position: relative;
  width: fit-content;
  max-width: 50%;
}
.msguser p, .msgrisp p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

  /* Barra per inviare messagi */
.bar-right {
  height: 72px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
  /* Input */
.bar-right input {
  width: 85%;
  height: 40px;
  border-radius: 21px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #8e8e8e;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px;
}
.bar-right i {
  font-size: 25px;
  color: #8e8e8e;
}
  /* Menu messaggi */
.menu {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #888888;
  z-index: 999;
  padding: 1px 0;
  display: none;
}
.menu p {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
}
.menu p:hover {
  background-color: #dfdfdf;
  border-radius: 5px;
}
.menu-option {
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 11px;
  display: none;
  color: #000;
}

/* REGOLE RESPONSIVE */
@media screen and (min-width: 1441px) {
  .banner {
    background-color: #009688;
    height: 127px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #main-page {
    z-index: 200;
    height: calc(100% - 38px);
    width: 1396px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
